/* line 3, ../compass/sass/admin.scss */
body {
  background: url("../images/bg.png") repeat;
}

/* line 6, ../compass/sass/admin.scss */
.container {
  background: white;
  margin: auto;
  margin-top: 100px;
  width: 70%;
  border-radius: 15px;
  padding: 50px;
}
