/* line 3, ../compass/sass/style.scss */
body {
  background: url("../images/bg.png") repeat;
}

/* line 7, ../compass/sass/style.scss */
.container {
  background: white;
  margin-top: 60px;
  padding: 50px;
}

/* line 13, ../compass/sass/style.scss */
nav {
  text-align: center;
  padding-left: 17%;
  height: auto;
}
/* line 17, ../compass/sass/style.scss */
nav .navbar-brand {
  height: auto;
}
/* line 20, ../compass/sass/style.scss */
nav .nav.navbar-nav {
  margin-top: 40px;
}

/* line 25, ../compass/sass/style.scss */
footer {
  margin: 60px 0;
  padding: 60px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
}
/* line 32, ../compass/sass/style.scss */
footer #footer-content {
  margin: auto;
  width: 60%;
}
/* line 35, ../compass/sass/style.scss */
footer #footer-content ul {
  display: block;
  list-style: none;
}
/* line 38, ../compass/sass/style.scss */
footer #footer-content ul li {
  border-left: 1px solid black;
  padding: 0 15px;
  display: inline-block;
}
/* line 42, ../compass/sass/style.scss */
footer #footer-content ul li:first-child {
  border-left: none;
}
/* line 47, ../compass/sass/style.scss */
footer #footer-content #footer-right {
  float: right;
}
/* line 49, ../compass/sass/style.scss */
footer #footer-content #footer-right span {
  display: block;
  position: absolute;
  bottom: 0;
}
