/* line 3, ../compass/sass/style.scss */
body {
  background: url("../images/bg.png") repeat;
}

/* line 6, ../compass/sass/style.scss */
#social-media-icons {
  background: none;
  padding: 20px 0;
  margin-top: 0;
}
/* line 10, ../compass/sass/style.scss */
#social-media-icons * {
  display: inline-block;
  float: right;
}
/* line 14, ../compass/sass/style.scss */
#social-media-icons span {
  color: rgba(255, 255, 255, 0.7);
  padding: 0 15px;
}
/* line 17, ../compass/sass/style.scss */
#social-media-icons span a {
  color: rgba(255, 255, 255, 0.7);
}
/* line 19, ../compass/sass/style.scss */
#social-media-icons .sn-icon {
  border-radius: 50%;
  background: #0f0;
  font-size: 24px;
  padding: 4px 10px;
}

/* line 26, ../compass/sass/style.scss */
.container {
  background: white;
  margin-top: 60px;
  padding: 50px;
}

/* line 32, ../compass/sass/style.scss */
nav {
  text-align: center;
  padding-left: 17%;
  height: auto;
}
/* line 36, ../compass/sass/style.scss */
nav .navbar-brand {
  height: auto;
}
/* line 39, ../compass/sass/style.scss */
nav .nav.navbar-nav {
  margin-top: 40px;
}

/* line 44, ../compass/sass/style.scss */
footer {
  margin: 60px 0;
  padding: 60px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
}
/* line 51, ../compass/sass/style.scss */
footer #footer-content {
  margin: auto;
  width: 60%;
}
/* line 54, ../compass/sass/style.scss */
footer #footer-content ul {
  display: block;
  list-style: none;
  padding-left: 0;
}
/* line 58, ../compass/sass/style.scss */
footer #footer-content ul li {
  border-left: 1px solid black;
  padding: 0 15px;
  display: inline-block;
}
/* line 62, ../compass/sass/style.scss */
footer #footer-content ul li:first-child {
  border-left: none;
  padding-left: 0;
}
/* line 68, ../compass/sass/style.scss */
footer #footer-content #staff-login-img {
  float: right;
}
/* line 69, ../compass/sass/style.scss */
footer #footer-content #footer-right {
  float: right;
}
/* line 72, ../compass/sass/style.scss */
footer #footer-content span {
  display: block;
  position: absolute;
  bottom: 0;
}
