/* line 3, ../compass/sass/style.scss */
body {
  background: url("../images/bg.png") repeat;
}

/* line 7, ../compass/sass/style.scss */
.container {
  background: white;
  margin-top: 60px;
  padding: 50px;
}

/* line 13, ../compass/sass/style.scss */
.left-content h2 {
  color: #516d21;
  font-family: 'Ubuntu', sans-serif;
}
/* line 17, ../compass/sass/style.scss */
.left-content p {
  font-family: 'Oswald', sans-serif;
}
/* line 20, ../compass/sass/style.scss */
.left-content .row {
  border-top: 1px solid gray;
  padding: 3%;
}
/* line 26, ../compass/sass/style.scss */
.left-content .main-callout img {
  width: 690px;
  height: 200px;
}
/* line 31, ../compass/sass/style.scss */
.left-content .description {
  border-top: none !important;
}

/* line 37, ../compass/sass/style.scss */
footer {
  margin: 60px 0;
  padding: 60px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
}
/* line 44, ../compass/sass/style.scss */
footer #footer-content {
  margin: auto;
  width: 60%;
}
/* line 47, ../compass/sass/style.scss */
footer #footer-content ul {
  display: inline-block;
}
/* line 50, ../compass/sass/style.scss */
footer #footer-content #footer-right {
  float: right;
}
/* line 52, ../compass/sass/style.scss */
footer #footer-content #footer-right p {
  bottom: 0;
}
